@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

* {
    font-family: "Merienda", cursive;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid green;
}

.app {
    overflow-x: hidden;
}

[class*="__container"] {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 15px;
}
