.coffeeItem {
    width: 220px;
    height: 260px;
    background: #ffffff;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;

    .itemTopGroup {
        text-decoration: none;
        text-align: center;
        .coffeeImage {
            cursor: pointer;
            max-width: 167px;
            max-height: 115px;
        }
        .title {
            color: black;
        }
        .title:hover {
            text-decoration: underline;
        }
    }
    .itemBottomGroup {
        display: flex;
        gap: 14px;
        flex-direction: column;
        align-items: flex-end;

        .priceAndCart {
            display: flex;
            align-items: center;
            gap: 115px;
            .cart {
                padding: 2px;
                cursor: pointer;
                width: 25px;
                height: 25px;
            }
            .cart:hover {
                background-color: #cfcfcf;
                border-radius: 3px;
            }
        }
    }
}
