.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 5px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    padding: 10px;
    background: #ffffff;

    border-radius: 4px;
    .cartItemImage {
        object-fit: cover;
        width: 150px;
        height: 100px;
    }
    .cartItemLeft {
        .country,
        .title {
            text-transform: capitalize;
        }
    }
    .cartItemRight {
        display: flex;
        gap: 10px;

        .buttonsGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .counterGroup {
                display: flex;
                gap: 10px;
            }
        }
        .deleteButton {
            height: 20px;
        }
    }
}
