.coffeeItemsList {
    margin-top: 61px;
    margin-bottom: 250px;
    .wrapper {
        .coffeeItemsList__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            row-gap: 60px;
            column-gap: 70px;
            &.loading {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 850px) {
    .coffeeItemsList {
        .wrapper {
            .coffeeItemsList__container {
                column-gap: 30px;
                justify-content: center;
            }
        }
    }
}
